<!DOCTYPE html>
<html>
  <head>
    <title>Lite Template</title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id='header'>
        <div id='logo' class='span-14'>
          <h1>Lite Template</h1>
        </div>
        <%= render :partial => 'shared/user_nav' %>
      </div>
      <hr>
      <h2 class="alt">Get your rails project started!</h2>
      <hr>
      <%= render :partial => 'shared/messages' %>
      <hr class="space">
      <%= yield %>
      <hr>
      <p>
        Cosmicvent Software &copy; 2010
      </p>
    </div>
  </body>
</html>
